.icon-wrapper {
 grid-area: profileIcon;
 display: flex;
 justify-content: flex-end;
 height: 64px;
 width: 64px;
 position: relative;
 cursor: pointer;

 .icon-container {
  .dropdown-toggle {
   position: relative;
   height: 64px;

   .icon-img {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
   }

   .avatar-initial {
    position: absolute;
    top: 15px;
    left: 15px;
    display: block;
    min-width: 34px;
    max-width: 34px;
    min-height: 34px;
    max-height: 34px;
    margin-left: 0;
    border-radius: 17px;
    background-color: #1E2026;
    font-size: 13px;
    text-transform: capitalize;
    font-weight: 300;
    font-style: italic;
    text-align: left;
    padding: 9px 11.5px;
   }
  }
 }
 .dropdown-menu {
  margin-top: 0px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  flex-direction: column;
  will-change: transform;
  border-radius: 4px;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  box-shadow: 4px 4px 8px 0 rgba( 0, 0, 0, .2 );
  transform: translate3d(-95px, -10px, 0px);

  .dropdown-item {
   text-decoration: none;
   display: block;
   width: 100%;
   padding: 0.25rem 1.5rem;
   clear: both;
   font-weight: 400;
   color: #212529;
   text-align: inherit;
   white-space: nowrap;
   background-color: transparent;
   border: 0;
   cursor: pointer;
  }
 }
}